################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChronoSync/bin/Debug/net8.0-windows
/ChronoSync/obj/Debug/net8.0-windows
/ChronoSync/obj
